<div id="credits" style="display:none" class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">x</a>
    <h3>About Humongous</h3>
  </div>
  <div class="modal-body">
    <div class="credits">
      <h5>Author</h5>
      <p><%= Humongous.author %></p>
    </div>
    <div class="credits">
      <h5>Version</h5>
      <p><%= Humongous.version %></p>
    </div>
    <div class="credits">
      <h5>Summary</h5>
      <p><%= Humongous.summary %></p>
    </div>
    <div class="credits">
      <h5>Description</h5>
      <p><%= Humongous.description %></p>
    </div>
    <div class="credits">
      <h5>Credits</h5>
      <ul>
        <li>MongoHub: For simplistic UI navigation experience</li>
        <li>Twitter Bootstrap: Making a non designer do the designing simple.</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer"><span>&copy; <%= Humongous.copyright %></span></div>
</div>