<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Humongous</title>
    <meta name="description" content="Humongous">
    <meta name="author" content="Bagwan Pankaj">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/application.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">

    <script type='text/javascript' src='/javascripts/jquery.min.js'></script>
    <script type='text/javascript' src='/javascripts/jquery.nohtml.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap-modal.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap-alerts.js'></script>

    <script type='text/javascript' src='/javascripts/core.js'></script>
    <script type='text/javascript' src='/javascripts/storage.js'></script>
    <script type='text/javascript' src='/javascripts/query_browser.js'></script>
    <script type='text/javascript' src='/javascripts/application.js'></script>
  </head>

  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Humongous</a>
          <ul class="nav">
            <li class="active"><a href="#">Mongo</a></li>
            <li><a href="#" data-target="#login_dialog" data-toggle="modal" onClick="$('#login_dialog').modal();">Login</a></li>
            <li><a data-controls-modal="credits" data-backdrop="true" data-keyboard="true">About</a></li>
            <li><a data-controls-modal="license" data-backdrop="true" data-keyboard="true">License</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span4">
            <div class="databases">
              <div class="sidebar-header">
                <h3>Databases</h3>
                <div class="add_remove">
                  <a class="add">ADD</a> |
                  <a class="delete">REMOVE</a>
                </div>
                <div class="clear"></div>
              </div>
              <div class="database_list">
                <table>
                  <tbody>
                    <% @databases.each do | db | %>
                      <tr>
                        <td data-source=<%= "/database/#{db[:name]}" %>><%= db[:name] %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="collections">
              <div class="sidebar-header">
                <h3>Collections</h3>
                <div class="add_remove">
                  <a class="add">ADD</a> |
                  <a class="delete">REMOVE</a>
                </div>
                <div class="clear"></div>
              </div>
              <div class="collections_list">
              </div>
            </div>
          </div>
          <div class="span12">
            <h3 class="header"><%= @header_string %></h3>
            <div class="query_link"></div>
            <div class="clear"></div>
            <div class="yielder zebra-striped">
              <table>
                <tbody>
                  <% @server_info.first.each do | property, value | %>
                    <tr>
                      <th><%= property %></th>
                      <td><%= value %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <%= erb :_credits %>

      <%= erb :_license %>

      <%= erb :_login_dialog %>

      <%= erb :_footer %>

    </div> <!-- /container -->
    <% if @force_login %>
      <script type="text/javascript">
        $("#login_dialog").modal({
          backdrop: "static",
          show: true
        })
      </script>
    <% end %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js" type="text/javascript" charset="utf-8" async defer></script>
  </body>
</html>
